table th:nth-child(2), table td:nth-child(2), /* First Name */
table th:nth-child(3), table td:nth-child(3),
table th:nth-child(4), table td:nth-child(4),
table th:nth-child(9), table td:nth-child(9) {
    width: 10%; /* Twice the size of the first column */
}